/* define font faces for your book here and place the files in fonts */

/*  
   100    Extra Light or Ultra Light
   200    Light or Thin
   300    Book or Demi
   400    Normal or Regular
   500    Medium
   600    Semibold, Demibold
   700    Bold
   800    Black, Extra Bold or Heavy
   900    Extra Black, Fat, Poster or Ultra Black



   light       300
   regular     400
   medium      500
   semi-bold   600
   bold        700

*/

@font-face {
   font-family: "Zilla Slab";
   font-style: normal;
   font-weight: 700;
   src: url(ZillaSlab-Bold.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: italic;
   font-weight: 700;
   src: url(ZillaSlab-BoldItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: italic;
   font-weight: 400;
   src: url(ZillaSlab-Italic.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: normal;
   font-weight: 300;
   src: url(ZillaSlab-Light.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: italic;
   font-weight: 300;
   src: url(ZillaSlab-LightItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: normal;
   font-weight: 500;
   src: url(ZillaSlab-Medium.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: italic;
   font-weight: 500;
   src: url(ZillaSlab-MediumItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: normal;
   font-weight: 400;
   src: url(ZillaSlab-Regular.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: normal;
   font-weight: 600;
   src: url(ZillaSlab-SemiBold.woff2) format("woff2");
}

@font-face {
   font-family: "Zilla Slab";
   font-style: italic;
   font-weight: 600;
   src: url(ZillaSlab-SemiBoldItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Ounce";
   font-style: italic;
   font-weight: 800;
   src: url(Ounce-Alt-BlackItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Ounce";
   font-style: italic;
   font-weight: 700;
   src: url(Ounce-Alt-BoldItalic.woff2) format("woff2");
}

@font-face {
   font-family: "Ounce";
   font-style: italic;
   font-weight: 400;
   src: url(Ounce-Alt-Italic.woff2) format("woff2");
}

@font-face {
   font-family: "Ounce";
   font-style: italic;
   font-weight: 200;
   src: url(Ounce-Alt-LightItalic.woff2) format("woff2");
}