// A placeholder file for custom styles
$primary-color: #002171;
$secondary-color: #90caf9;
$background-color: #303030;
& {
   font-family: "Neftali";
   font-weight: normal;
   font-size:1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Ounce";
   color: #ff6600;
   font-weight: 900;
   font-style:italic;
   font-feature-settings: "salt";
}