// A placeholder file for custom styles
$primary-color: #232732;
$secondary-color: #E34234;
$background-color: #dcd8cd;

& {
   font-family: "Zilla Slab";
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5;
   color:#232732;

   background-color: #dcd8cd;
}

// these styles will be imported into the #page scope 
// ** Vue Material Variables **
// todo - we can make use of vue-material's theme css vars if we want 
//    --md-theme-default-primary
//    --md-theme-default-accent
//    --md-theme-default-background
//    --md-theme-default-background-variant
//    --md-theme-default-accent-on-background
//    --md-theme-default-text-primary-on-accent
//    --md-theme-default-text-primary-on-background-variant
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Ounce";
   color:#E34234;
   font-weight: 800;
   font-style: italic;
   font-feature-settings: "salt", "dlig";
}

@media screen and (min-width: 59em) {
   h1 {
      font-size: 4.292rem;
   }
   h2 {
      font-size: 3.433rem;
   }
   h3 {
      font-size: 2.747rem;
   }
   h4 {
      font-size: 2.197rem;
   }
   h5 {
      font-size: 1.758rem;
   }
   h6 {
      font-size: 1.406rem;
   }
   #{$textElements} {
      font-size: 1.2rem;
      // line-height: 1.2;
   }
   small {
      font-size: 0.9rem;
   }
   aside.left {
      width: 11.5em;
      float: left;
      margin-left: -12.5em;
   }
   aside.right {
      width: 11.5em;
      float: right;
      margin-right: -12.5em;
   }
   article.left {
      width: 23em;
      float: left;
      margin-left: -12.5em;
   }
   article.right {
      width: 23em;
      float: right;
      margin-right: -12.5em;
   }
   aside,
   article {
      font-size: .9rem;
      #{$textElements} {
         font-size: 0.9rem;
      }
      h1 {
         font-size: 3.433rem;
      }
      h2 {
         font-size: 2.747rem;
      }
      h3 {
         font-size: 2.197rem;
      }
      h4 {
         font-size: 1.758rem;
      }
      h5 {
         font-size: 1.406rem;
      }
      h6 {
         font-size: 1.125rem;
      }
   }
}